<!doctype html>
<html>
    <body>
        <h1>bookmarks</h1>

        <form method="post">
            <label for="name">name:</label><br>
            <input type="text" id="name" name="name"><br>
            <label for="url">url:</label><br>
            <input type="text" id="url" name="url"><br>
            <label for="description">description:</label><br>
            <input type="text" id="description" name="description"><br><br>
            <input type="submit" value="Save">
        </form>
    </body>
</html>
